body{
    margin: 0;
}
.nav-container{
    background: linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7) );
    padding: 0% 4%;
}

.portfolio{
    display: inline-block;
    margin: 2.5% 4%;
    padding: 8px 20px;
    color: white;
}

.active{
    background-color: white;
    color: black;
}

.top-banner{
    background-image: url(https://wallpaperaccess.com/full/773786.jpg);
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.category{
    background-color: white;
    height: 500px;
    width: 100%;
    
}

.sub-cat{
    display: inline-block;
    height: 90%;
    width: 29%;
    margin: 2%;
    background-size: cover;
}

.first{
    background-image: url(https://images.unsplash.com/photo-1536895058696-a69b1c7ba34f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8Y29uc3RydWN0aW9ufGVufDB8fDB8fHww&w=1000&q=80);
}

.second{
    background-image: url(https://media.istockphoto.com/id/170961867/photo/construction-workers-working-on-construction-site.jpg?s=612x612&w=0&k=20&c=DyizE_4OvIw1xgOo5cNShX2Hg7tdYJUuSYl3-FWAqWU=);
}

.third{
    background-image: url(https://cdn.pixabay.com/photo/2019/02/06/16/32/architect-3979490_640.jpg);
}
.bottom-section{
    background-color: black;
    height: 500px;
    padding: 2%;
}

.bio{
    color: white;
}

.bio-image{
    height: 80%;
    margin: 1%;
    background-image: url(https://img.freepik.com/premium-photo/blue-prints-with-tool-building-construction-background3d-rendering_474511-176.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.sub{
    display: inline-block;
    width: 45%;
}