@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main {
    background-color: rgb(16, 76, 81);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 18px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

#counter-wrapper {
    padding-inline: 15px;
    padding-block: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(37, 191, 178);
    border-radius: 10px;
    width: 500px;
    height: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

h1{
    font-size: 26px;
    /* width: max-content; */
    /* margin-inline: auto; */
    padding-inline: 10px;
    border-radius: 5px;
    background: linear-gradient(to right, black 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}

h1:hover {
    background-position: left bottom;
    color: white;
}

#input {
    resize: none;
    width: 100%;
    height: 100px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    box-sizing: border-box;
    border: solid 2px darkgray;
    outline: none;
}

#bottom-div{
    display: flex;
    justify-content: space-between;
}

div p {
    color: white;
}

#total-char {
    color: rgb(255, 255, 255);
    background-color: black;
    padding: 5px;
    border-radius: 10px;
}

#remaining-char {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 10px;
}

#toggleMode {
    position: absolute;
    top: 10px;
    right: 20px;
}