.navbar{
    background-color: rgb(53, 53, 53);
    height: 75px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    color: white;
    padding: 0 10px;
}

.nav-container .logo{
    height: 100%;
    display: flex;
    align-items: center;
}

.links{
    display: flex;
    gap: 40px;
}
a:link{
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
}

a:visited{
    color: white;
}

a:hover{
    text-decoration: underline white;
}

@media only screen and (max-width: 850px){
    .links{
        visibility: hidden;
    }

    .nav-container{
        width: 100%;
    }
}