* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: #4B79A1;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #283E51, #4B79A1);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #283E51, #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

main {
    width: 100%;
    max-width: 500px;
    padding-inline: 25px;
    padding-block: 25px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 1);
    border-radius: 10px;
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
    margin-bottom: 25px;
    font-size: 30px;
    text-align: center;
}

div {
    width: 100%;
    display: flex;
    margin-bottom: 5px;
    font-size: 18px;
}

main div span {
    width: 50%;
}