@import "./css/header.css";
@import "./css/main-left.css";
@import "./css/main-right.css";
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    /* background-color: red; */
    width: 100%;
    display: flex;
    margin-top: 70px;
    height: 88vh;
}